{% include "header.html" %}
<!--url({{ url_for('static', filename='img/about-bg.jpg')}})">-->
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1516383740770-fbcc5ccbece0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to our blog! We're a group of writers who are passionate about creating content that resonates with
          our readers. Our blog covers a variety of topics. We believe in the importance of self-care and taking time
          to pursue your passions. Our goal is to provide a platform where people can come together to share their
          experiences and learn from one another. </p>
        <p>Our blog is more than just a source of information - it is a community of people who share a common passion
          for sharing their knowledge and experiences with others. We believe that by working together and sharing our
          knowledge, we can achieve great things. </p>
        <p>Our website is a platform for voices that are often unheard, for stories that are often untold.
          We strive to create a diverse and inclusive community where everyone can share their experiences, opinions,
          and creativity. Thanks for stopping by ,and we hope you enjoy our blog!</p>
        <p>

        </p>
        </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}