{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Us</h1>
            <span class="subheading">Have questions? We have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endfor %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>We value your feedback and welcome any questions or comments you may have. If you would like to get in touch
          with us, please feel free to send us a message. We will do our best to respond to your inquiry as soon as
          possible.</p>

        <form name="sentMessage" id="contactForm" action="{{ url_for('contact') }}" method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}